body {
  background-color: #b5a789;
}

.sucks {
  background-color: #675c47;
  /* flex-direction: flex-end; */
  margin-bottom: 2px;
}

.shit {
  float: right;
}

ul.points {
  background-color: #efe5d0;
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
}
ul.points li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
}

a {
  text-decoration: none;
  color: #954b4b;
  font-weight: bolder;
}

a:active {
  background-color: #e2c2c2;
}

h1 {
  color: #954b4b;
  font-size: 16px;
}

.controler {
  display: flex;
  font-size: 14px;
}

.drinks {
  background-color: #efe5d0;
  width: 500px;
  margin: 5px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 0px;
}

.main {
  background-color: #efe5d0;
  margin: 5px;
  margin-top: 10px;
  padding: 10px;
}

.sidebar {
  background-color: #efe5d0;
  margin: 5px;
  margin-top: 10px;
  padding: 10px;
  margin-right: 0px;
}

.footer {
  background-color: #675c47;
  text-align: center;
  color: #b5a789;
}

.beanheading {
  text-align: center;
}

.href1 {
  background-color: #000000e7;
}
