.grid {
  width: 1000px;
  height: 500px;
  min-width: 200px;
  min-height: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: solid black;
  border-style: dotted;
  color: aliceblue;
}

.grid__item {
  border: solid white;
}

.grid__item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid__item2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.grid__item3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}

.grid__item4 {
  grid-row-start: 4;
}

.grid__item5 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}

.grid__item6 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 7;
}
