.dialogs {
  display: grid;
  grid-template-columns: 3fr 10fr;
}

.dialogs__item {
  padding: 10px;
  background-color: #1e1e1e;
}

.dialogs__item a {
  color: white;
  text-decoration: none;
}

.dialogs {
  padding-top: 1px;
}

.messages {
  background-color: #1e1e1e;
  margin-left: 10px;
  height: 800px;
  color: white;
}

.message {
}

.active__name {
  color: orange !important;
}
