.dialogs {
  display: grid;
  grid-template-columns: 3fr 10fr;
}

.dialogs__item {
  padding: 10px;
  background-color: grey;
}

.dialogs {
  padding: 10px;
  padding-top: 1px;
}

.messages {
  background-color: grey;
  margin-left: 10px;
  height: 800px;
  color: black;
}

.message {
}
